*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: 600; }

.nav__link {
  display: flex;
  justify-content: flex-end;
  background-color: #000000;
  flex-wrap: wrap;
  position: fixed;
  overflow: hidden;
  top: -100px;
  width: 100%;
  padding-right: 3rem;
  z-index: 200;
  transition: top 0.3s; }
  .nav__link--list {
    list-style: none;
    margin: 2rem 3rem;
    display: inline; }
  .nav__link--container {
    display: flex;
    justify-content: center; }
    .nav__link--container:hover {
      background-color: #ddd;
      cursor: pointer; }

.img {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 26.8rem;
  padding: 2rem 0;
  color: #ffffff;
  display: flex;
  justify-content: center;
  transition: all .5; }
  .img__one {
    height: 10rem;
    width: 10rem;
    border: 1px solid #000000;
    border-radius: 50%;
    margin-right: 3rem; }
  .img__one:hover {
    -webkit-transform: scale(1.3, 1.3);
    transform: scale(1.3, 1.3); }

.contact-image {
  width: 50%;
  margin: 0 auto;
  padding: 2rem 0; }

.cards {
  -moz-perspective: 150rem;
  perspective: 150rem;
  height: 25rem;
  width: 20rem;
  position: relative;
  margin: 2rem 0; }
  .cards__side {
    height: 25rem;
    width: 20rem;
    transition: all .8s ease;
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(54, 53, 51, 0.6); }
    .cards__side--front {
      background-color: #363533; }
    .cards__side--back {
      background-image: linear-gradient(to right bottom, #3c3f42, #dadde3);
      transform: rotateY(180deg); }
  .cards:hover .cards__side--front {
    transform: rotateY(-180deg); }
  .cards:hover .cards__side--back {
    transform: rotateY(0); }
  .cards__progress {
    width: 12rem;
    background-color: #363533;
    font-size: 2rem;
    border-radius: 2rem;
    margin: 0 auto; }
    .cards__progress--bar-1 {
      width: 10rem;
      background-color: #1189F4;
      border-radius: 2rem;
      text-align: center; }
    .cards__progress--bar-2 {
      width: 8rem;
      background-color: #1189F4;
      border-radius: 2rem;
      text-align: center; }
    .cards__progress--bar-3 {
      width: 7rem;
      background-color: #1189F4;
      border-radius: 2rem;
      text-align: center; }
    .cards__progress--bar-4 {
      width: 9rem;
      background-color: #1189F4;
      border-radius: 2rem;
      text-align: center; }
    .cards__progress--bar-5 {
      width: 5rem;
      background-color: #1189F4;
      border-radius: 2rem;
      text-align: center; }
  .cards__list {
    list-style: none;
    margin: 1rem 0; }
    .cards__list--sub {
      border-bottom: 1px solid #6B6C5D;
      padding: 1rem;
      text-transform: uppercase;
      background-color: #363533;
      margin-top: 1px;
      color: #ffffff; }

.back__text {
  margin: 2rem 2rem; }

/* Hide the images by default */
.mySlides {
  display: none; }
  .mySlides__numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0; }

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer; }

.row:after {
  content: "";
  display: table;
  clear: both; }

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%; }

button {
  background-color: #199e3d;
  padding: .9rem;
  border-radius: 1rem;
  cursor: pointer;
  text-transform: uppercase; }

#About {
  background-image: url(../imgs/arche.jpg);
  background-size: 100% 100%;
  overflow: hidden; }

#Skills {
  overflow: hidden;
  background-color: #e3e1da; }

#Work {
  background-image: linear-gradient(to right bottom, rgba(237, 235, 230, 0.8), rgba(186, 183, 175, 0.8)), url(../imgs/photo1.jpg);
  background-size: cover; }

#Contact {
  text-align: center;
  background-color: #e3e1da; }

a {
  text-decoration: none;
  color: #ffffff; }

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: #ffffff; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-20px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.icon__heading {
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 2rem; }
  .icon__heading--back {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase; }

.heading-secondary {
  text-align: center;
  text-transform: uppercase;
  margin-top: 3rem; }

.heading-tertiary {
  text-align: center;
  text-transform: uppercase;
  padding-top: 2rem; }

.heading-primary {
  margin-top: 2rem;
  text-align: center;
  color: #ffffff;
  transition: all .5s; }
  .heading-primary--main {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    animation-name: moveInLeft;
    animation-duration: 3s; }
  .heading-primary--sub {
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    animation-name: moveInRight;
    animation-duration: 3s; }
  .heading-primary--sub-1 {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    animation-name: moveInBottom;
    animation-duration: 3s; }

.heading-tertiary--1--main {
  padding: 2rem 0;
  color: #199e3d; }

/* Next & previous buttons */
.button__prev, .button__next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

.button__next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.button__prev:hover, .button__next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white; }

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

.slides-image {
  width: 50%;
  display: block;
  margin: 0 auto; }

.text__list {
  display: block; }

.container {
  position: relative; }

.container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.contact {
  display: block; }

.flex-container {
  display: flex;
  align-items: baseline; }

.fa-map-marker-alt {
  margin-right: 2rem;
  margin-left: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #199e3d; }
  @media only screen and (max-width: 1024px) {
    .fa-map-marker-alt {
      margin-left: 15rem; } }

.fa-envelope-square {
  margin-right: 1.4rem;
  margin-left: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #199e3d; }
  @media only screen and (max-width: 1024px) {
    .fa-envelope-square {
      margin-left: 15rem; } }

.fa-phone-alt {
  margin-right: 1.2rem;
  margin-left: 30rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #199e3d; }
  @media only screen and (max-width: 1024px) {
    .fa-phone-alt {
      margin-left: 15rem; } }
