.nav__link {
    display: flex;
    justify-content: flex-end;
    background-color: #000000;
    position: fixed;
    overflow: hidden;
    object-fit: cover;
    top: -100px;
    width: 100%;
    z-index: 200;
    transition: top 0.3s;

    &--list {
        list-style: none;
        margin: 2rem 3rem;
        display: inline;
    }
    &--container{
        display: flex;
        justify-content: center;   
    }
}
.img {
    background-color: rgba(0, 0, 0, .5);
    margin-top: 26.8rem;
    padding: 2rem 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    transition: all .5;

    &__one {
        height: 10rem;
        width: 10rem;
        border: 1px solid #000000;
        border-radius: 50%;
        margin-right: 3rem;
    }

    &__one:hover {
        -webkit-transform: scale(1.3, 1.3);
        transform: scale(1.3, 1.3);
    }
}
.cards {
    -moz-perspective: 150rem;
    perspective: 150rem;
    height: 25rem;
    width: 20rem;
    position: relative;

    &__side{
        background-color: aqua;
        height: 25rem;
        width: 20rem;
        transition: all .8s ease;
        transform-style: preserve-3d;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;

        &--front {
            background-color: #929394;
        }
        &--back {
            background-image: linear-gradient(to right bottom, #3c3f42, #dadde3);
            transform: rotateY(180deg);
        }
    }
    
    &:hover &__side--front {
        transform: rotateY(-180deg);
    }
    &:hover &__side--back {
        transform: rotateY(0);
    }

   &__progress {
           width: 12rem;
           background-color: #B2B7BB;
           font-size: 2rem;
           border-radius: 2rem;
           margin: 0 auto;
        &--bar-1{
           width: 10rem;
           background-color: #1189F4;
           border-radius: 2rem;
           text-align: center;
        }
        &--bar-2{
            width: 8rem;
            background-color: #1189F4;
            border-radius: 2rem;
            text-align: center;
        }
        &--bar-3{
            width: 7rem;
            background-color: #1189F4;
            border-radius: 2rem;
            text-align: center;
        }
        &--bar-4{
            width: 9rem;
            background-color: #1189F4;
            border-radius: 2rem;
            text-align: center;
        }
        &--bar-5{
            width: 5rem;
            background-color: #1189F4;
            border-radius: 2rem;
            text-align: center;
        }
    }
    &__list {
        list-style: none;
        margin-top: 1px;
        

        &--sub {
            border-bottom: 1px solid #6B6C5D;
            padding: 1rem;
            text-transform: uppercase;
            background-color: #6B6C5D;
            margin-top: 1px;
            color: #ffffff;
        }
    }
}
.back__text{
    margin: 2rem 2rem;
    
}
/* Hide the images by default */
.mySlides {
    display: none;
    &__numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
  }
  /* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
  }
  
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
.column {
    float: left;
    width: 16.66%;
}

