#About{
    background-image: url(../imgs/arche.jpg);
    background-size: 100% 100%;
    overflow: hidden;
}

#Skills {
    overflow: hidden;
    background-color: #e3e1da;
    height: 95vh;
}


#Work {
    background-image: linear-gradient(to right bottom, rgba(237, 235, 230, 0.8), rgba(186, 183, 175, 0.8)),url(../imgs/photo1.jpg);
    background-size: cover;
    
    
}
#Contact {
    text-align: center;
    background-color:  #e3e1da;
}
a {
    text-decoration: none;
    color: #ffffff;    
}
footer {
    background-color: rgba(0, 0, 0, .8);
    color: #ffffff;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
    transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform:translateX(100px);
    }
    80% {
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform:translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}