/* Next & previous buttons */
.button {
    &__prev, &__next{
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
       -webkit-user-select: none;
    }
    &__next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    &__prev:hover,
    &__next:hover{
        background-color: rgba(0, 0, 0, 0.8);
    }
}
/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}
/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}
  
.active,
.demo:hover {
    opacity: 1;
}
.slides-image {
    width: 50%;
    display: block;
    margin: 0 auto;
}
.text__list {
    display: block;
}
.container{
    position: relative;
}
.container1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.contact{ 
    display: block;
}


.flex-container{
    display: flex;
    align-items: baseline;
  
}
.fa-map-marker-alt{
    margin-right:2rem;
    margin-left: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #199e3d;
    @media only screen and (max-width: 1024px ) {
        margin-left: 15rem;
    }
}
.fa-envelope-square{
    margin-right: 1.4rem;
    margin-left: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #199e3d;
    @media only screen and (max-width: 1024px ) {
        margin-left: 15rem;
    }
}
.fa-phone-alt{
    margin-right: 1.2rem;
    margin-left: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #199e3d;
    @media only screen and (max-width: 1024px ) {
        margin-left: 15rem;
    }
}